<!--
Sneyder Navia
fabiansneyder@gmail.com
Copyright 2013
-->

<!DOCTYPE html>
<html>
    <head>
        <title>Acerca De</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Proyecto Final Estad&iacute;stica I</h2>
        <div class="wrap_view">
            <div class="jumbotron">
                <div class="container">
                    <span class="label label-default">Elaborado por:</span>
                    <span class="label label-primary">Sneyder Navia Urbano</span>
                    <br/>
                    <span class="label label-default">Presentado a:</span>
                    <span class="label label-primary">Jos&eacute; Alfredo D&iacute;z Escobar</span>
                </div>
            </div>
        </div>
    </body>
</html>
