<!--
Sneyder Navia
fabiansneyder@gmail.com
Copyright 2013
-->

<!DOCTYPE html>
<html>
    <head>
        <title>Cuantitativa Continua: Edad</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Cuantitativa Continua: Edad</h2>
        <div id="main_panel_edad">
            <div id="wrap_itc">
                <div class="jumbotron panel_view_form floating">
                    <h4>Indicadores de Tendencia Central</h4>
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon">Media / Promedio</span>
                            <input type="text" class="form-control" placeholder="Media">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Moda</span>
                            <input type="text" class="form-control" placeholder="Moda">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Mediana</span>
                            <input type="text" class="form-control" placeholder="Moda">
                        </div>
                    </div>
                </div>
                <div class="jumbotron panel_view_form floating">
                    <h4>Indicadores de Variabilidad</h4>
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon">Rango</span>
                            <input type="text" class="form-control" placeholder="Rango">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Varianza</span>
                            <input type="text" class="form-control" placeholder="Varianza">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Varianza</span>
                            <input type="text" class="form-control" placeholder="Varianza">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Desviaci&oacute;n Estandar</span>
                            <input type="text" class="form-control" placeholder="Desviaci&oacute;n Estandar">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Coeficiente Variaci&oacute;n</span>
                            <input type="text" class="form-control" placeholder="Coeficiente Variaci&oacute;n">
                        </div>
                    </div>
                </div>
                <div class="jumbotron panel_view_form floating">
                    <h4>Distribuci&oacute;n Estandar</h4>
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon">Coeficiente de Pearson</span>
                            <input type="text" class="form-control" placeholder="Coeficiente de Pearson">
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div>
                <div class="jumbotron panel_view_form">
                    <h4>Gr&aacute;ficas</h4>
                    <div class="container">
                        
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="assets/js/edad.js"></script>
    </body>
</html>
