<!--
Sneyder Navia
fabiansneyder@gmail.com
Copyright 2013
-->

<!DOCTYPE html>
<html>
    <head>
        <title>Cualitativa Ordinal: Nivel Educativo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Cualitativa Ordinal: Nivel Educativo</h2>
        <div id="main_panel_resident">
            <div id="wrap_itc">
                <div class="jumbotron panel_view_form floating">
                    <h4>Indicadores de Tendencia Central</h4>
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon">Moda</span>
                            <input type="text" id="txtModa" class="form-control" placeholder="Moda">
                            <span class="input-group-addon">
                                <a data-toggle="tooltip" title="" data-original-title=""></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="jumbotron panel_view_form floating">
                    <h4>Indicadores de Variabilidad</h4>
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon">No se pueden obtener</span>
                        </div>
                    </div>
                </div>
                <div class="jumbotron panel_view_form floating">
                    <h4>Distribuci&oacute;n Estandar</h4>
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon">No se pueden obtener</span>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div id="wrap_resident_toolbar">
                <div class="jumbotron reset_jumbotron">
                    <button id="btnViewEducTable" type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="right" data-original-title="Ver tabla de distribucion de frecuencias de la variable">
                        <span class="glyphicon glyphicon-list"></span> Ver Tabla
                    </button>
                </div>
            </div>
            <br/>
            <div id="wrap_resident_graphics">
                <div class="jumbotron panel_graphic">
                    <div class="container">
                        <div id="graphic_1"></div>
                    </div>
                </div>
                <div class="jumbotron panel_graphic">
                    <div class="container">
                        <div id="graphic_2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal_panel" class="modal-backdrop fade in" tabindex="-1"></div>
        <script type="text/javascript" src="assets/js/educ.js"></script>
    </body>
</html>
